<div class="view-container">
  <h1>Schedule detail</h1>
  <div class="edit-card">
    <div class="formgroup-title">
      <i class="material-icons">schedule</i>
      <h3>Time</h3>
    </div>
    <input [(ngModel)]="time.hour" type="number" placeholder="HH" min="0" max="23"/> :
    <input [(ngModel)]="time.minute" type="number" placeholder="MM" min="0" max="59"/>
    <div class="formgroup-title">
      <i class="material-icons">ac_unit</i>
      <h3>Temperature</h3>
    </div>
    <input [(ngModel)]="temperature" type="number" placeholder="0" min="0" max="23"/> &deg;{{unitService.unit$ | async}}
    <div class="formgroup-title">
      <i class="material-icons">apartment</i>
      <h3>Zones</h3>
    </div>
    <div class="edit-card__checkbox-wrapper">
      <div class="formgroup" *ngFor="let zone of zoneService.zones$ | async">
        <input (change)="zoneClick(zone.id, $event.target.checked)" type="checkbox" [checked]="zones.includes(zone.id)">
        <label> {{zone.name}}</label>
      </div>
    </div>
    <div class="edit-card__button-strip">
      <button (click)="delete()" *ngIf="id" class="btn btn-danger">DELETE</button>
      <button (click)="confirm()" class="btn">CONFIRM</button>
    </div>
  </div>
</div>
