<div class="view-container">
  <h1>Zone overview</h1>

  <div class="list-header">
    <a routerLink="/edit/new" class="btn">New schedule</a>
    <div class="zone-filter">
      <span>Zone:</span>
      <select [value]="zoneFilter$.getValue()" (change)="filterChange($event.target.value)">
        <option value="all">All</option>
        <option *ngFor="let zone of zoneService.zones$ | async" [value]="zone.id">{{zone.name}}</option>
      </select>
    </div>
  </div>
  <div class="schedule-list">
    <div class="schedule-item" *ngFor="let schedule of filteredSchedules$ | async">
      <div class="schedule-item_title-values">
        <div class="schedule-item__value">
          <i class="material-icons schedule-item__icon">schedule</i>
          <span>{{ formatTime(schedule.time) }}</span>
        </div>
        <div class="schedule-item__value">
          <i class="material-icons schedule-item__icon">ac_unit</i>
          <span>{{ schedule.temperature }} &deg;C</span>
        </div>
      </div>
      <div class='schedule-item__minor-values'>
        <h3>Designated zones:</h3>
        <span class="token" *ngFor="let zone of schedule.zones">{{zone.name}}</span>
      </div>
      <div class="schedule-item__button-strip">
        <a routerLink="/edit/{{schedule.id}}" class="btn btn-icon"><i class="material-icons">create</i></a>
        <button class="btn btn-danger btn-icon"><i class="material-icons">clear</i></button>
      </div>
    </div>
  </div>
</div>
